/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Set global scope variables for the some properties that will use it as one value in all web pages */
:root {
    --main-color: rgb(27, 145, 241);
    --main-transition: 0.4s;
}

/* Start global rules to all pages */
* {
    /* Make all elements respect the width and height that will give */
    box-sizing: border-box;
}

body {
    /* Give all elements font family open sans and sans-serif as 'alt font' to all web Pages */
    font-family: "Open Sans", sans-serif;
}

ul {
    /* Reset below properties to all unordered list elemnts */
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    /* Remove underline to all a tags */
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* Start global media rules */
/* Set width of div container that will contain elements in each section that will make easy to control the elements */
@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End global media rules */
/* End global rules to all pages */

/* Start Header */
/* Targets main header tag */
header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 15px rgb(221, 221, 221);
}

/* Targets the div container in header tag */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Add media rules (responsive) to Div container that contain the logo and nav elements */
@media screen and (max-width: 767px) {
    header .container {
        justify-content: center;
    }
}

/* Targets a element that has t-logo class inside header tag */
header .t-logo {
    color: var(--main-color);
    font-size: 28px;
    height: 71px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 25px black;
}

/* Add media rules (responsive) to logo */
@media screen and (max-width: 767px) {
    header .t-logo {
        width: 100%;
        height: 50px;
    }
}

/* Targets ul tag that has main-nav class inside (header tag --> nav tag) */
header .main-nav {
    display: flex;
}

/* Add media rules (responsive) to nav bar */
@media screen and (max-width: 767px) {
    header .main-nav {
        margin: auto;
    }
}

/* Targets a elemtns inside (header --> ul --> li) */
header .main-nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    height: 71px;
    padding: 0 28px;
    text-transform: uppercase;
    overflow: hidden;
    transition: var(--main-transition);
}

/* Add media rules (responsive) a element inside nav bar */
@media screen and (max-width: 767px) {
    header .main-nav li a {
        padding: 15px;
        font-size: 14px;
        height: 40px;
    }
}

/* Targets a elemtns inside (header --> ul --> li) */
/* here when we hover the cursor above the tag will change the color and give background different from the main status */
header .main-nav li a:hover {
    color: var(--main-color);
    background-color: rgb(250, 250, 250);
}

/* Initiate pesudo element (before) that make decoration line above the a element */
header .main-nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

/* Change status (before P-element) from left = -100 to left = 0 when we hover the cursor above the a element */
header .main-nav li a:hover::before {
    left: 0;
    transition: var(--main-transition);
}

/* Initiate pesudo element (after) that make decoration line under the a element */
header .main-nav li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    bottom: 0;
    right: -100%;
    transition: var(--main-transition);
}

/* Change status (after P-element) from right = -100 to right = 0 when we hover the cursor above the a element */
header .main-nav li a:hover::after {
    right: 0;
    transition: var(--main-transition);
}

/* End Header */
/* Start Landing Section */
/* Targets landing section and put position: relative value so it'S childs can move easy inside of it */
.landing {
    position: relative;
}

/* Create pseudo element before for landing section to make the back ground as color below and
   give index: -1 to make all element above it */
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    z-index: -1;
}

/* Targets the div container inside landing section and give below properties */
.landing .container {
    min-height: calc(100vh - 71px);
    display: flex;
    align-items: center;
}

/* Add media rules (responsive) to Div container that contain all elements inside landing section */
@media screen and (max-width: 767px) {
    .landing .container {
        min-height: calc(85vh - 71px);
    }
}

/* Targets the div that contain main header and main paragraph */
.landing .main-header-prg {
    flex: 1;
}

/* Targets the main header only inside div with class .main-header-prg (landing section------> .main-header-prg */
.landing .main-header-prg h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -1px;
    text-transform: uppercase;
}

/* Add media rules (responsive) to main header inside landing section */
@media screen and (max-width: 767px) {
    .landing .main-header-prg h1 {
        font-size: 22px;
    }
}

/* Targets the main paragraph only inside div with class .main-header-prg (landing section------> .main-header-prg */
.landing .main-header-prg p {
    font-size: 20px;
    line-height: 1.7;
    margin: 5px 0 0 0;
    color: rgb(102, 102, 102);
    max-width: 500px;
}

/* Add media rules (responsive) to main paragraph inside landing section */
@media screen and (max-width: 767px) {
    .landing .main-header-prg p {
        font-size: 18px;
    }
}

/* Targets the landing image inside div with class .land-image ( landing section ------> .land-image */
.landing .land-image img {
    position: relative;
    width: 500px;
    max-width: 100%;
    border-radius: 50%;
    animation: move-image 5s linear infinite;
}

/* Add media rules (responsive) for screens till max-width: 991px to main container in landing section 
also the div contain main header and main paragraph also target the paragraph and main header separately */
@media screen and (max-width: 991px) {
    .landing .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landing .main-header-prg {
        text-align: center;
        margin: 40px;
    }

    .landing .main-header-prg p {
        margin: 20px auto;
    }

    .landing .main-header-prg h1 {
        letter-spacing: 0;
    }
}

/* Start animation to the image inside landing section */
@keyframes move-image {
    0% {
        top: 0;
    }

    50% {
        top: -60px;
    }

    100% {
        top: 0px;
    }
}

/* End animation to the image inside landing section */
/* End Landing Section */

/* Start Events Section */
/* Targets section tag with class events-content */
.events-content {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Targets the Main title for events section */
.events-content .events-title {
    margin: 0 auto 80px;
    border: 5px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    border-radius: 10px;
    text-transform: uppercase;
    animation: color-change 2s linear infinite;
}

/*Start animation to the main title in events section (Upcoming Events) */
@keyframes color-change {
    0% {
        border-color: black;
        color: black;
    }

    50% {
        border-color: var(--main-color);
        color: var(--main-color);
    }

    100% {
        border-color: black;
        color: black;
    }
}

/* End animation to the main title in events section (Upcoming Events) */

/* Targets the Main container inside the events section */
.events-content .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

/* Targets the inside container(for each event) inside the main container in events section tag */
.events-content .inside-container {
    box-shadow: 0 2px 15px rgb(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: var(--main-transition);
}

/* Targets the inside container for each event when we hover the cursor over it */
.events-content .inside-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0, 0, 0, 0.2);
}

/* Targers the image of each event inside the inside container */
.events-content .inside-container img {
    width: 100%;
    max-width: 100%;
}

/* Targets the div that contain the event title with it'S paragraph inside the inside container for each event */
.events-content .inside-container .title-prg-event {
    padding: 22px;
}

/* Targets events title (h3)only in each event */
.events-content .inside-container .title-prg-event h3 {
    margin: 0;
}

/* Targets the paragraph only in each event */
.events-content .inside-container .title-prg-event p {
    margin: 10px 0 0 0;
    line-height: 1.5;
}

/* Targets the div that contain the bottom section inside each event that include the link see more
   and the arrow from fontawesome library */
.events-content .inside-container .info-event {
    padding: 20px;
    border-top: 1px solid rgb(230, 230, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Targets only the a link inside each event (See More) */
.events-content .inside-container .info-event a {
    color: var(--main-color);
    font-weight: bold;
}

/* Targets the Arrow fontawesome library */
.events-content .inside-container .info-event i {
    color: var(--main-color);
}

/* Targets the arrow (fontawesome) when we hover above the event */
.events-content .inside-container:hover .info-event i {
    animation: mv-arrow 0.5s linear infinite;
}

/* Start animation to the arrow icon to make it move when we hover over the event */
@keyframes mv-arrow {
    100% {
        transform: translateX(10px);
    }
}

/* End animation to the arrow icon to make it move when we hover over the event */

/* End Events Section*/
/* Start Footer */

/* Targets footer tag */
footer {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 15px rgb(221, 221, 221);
    color: var(--main-color);
}

/* Targets the container inside footer tag that contain all footer elements */
footer .container {
    display: flex;
    justify-content: space-around;
}

/* Targets only h3 (find us on:) */
footer .container h3 {
    text-transform: uppercase;
}

/* Targets unordered list that has class .social-icons */
footer .container .social-icons {
    display: flex;
    align-items: center;
}

/* Targets the list items inside unordered list of social icons */
footer .container .social-icons li {
    padding-right: 30px;
}

/* Targets a link inside of li of the unordered list */
footer .container .social-icons li a {
    color: var(--main-color);
    font-size: 20px;
}

/* Add media rules (responsive) for screens start from width 992px and more */
@media screen and (min-width: 992px) {
    footer .container .social-icons li a {
        font-size: 30px;
        padding-right: 60px;
    }

    footer .container h3 {
        font-size: 30px;
    }
}

/* End Footer */
/* Start Gallery Content*/
/* Targets the main section gallery under class name below */
.gallery-content {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: rgb(236, 236, 236);
}

/* Targets the main gallery title under class name below */
.gallery-title {
    margin: 0 auto 80px;
    border: 5px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    border-radius: 10px;
    text-transform: uppercase;
    /* Call previous Animation under name color-image related to Events-section (Upcoming-Events title) */
    animation: color-change 2s linear infinite;
}

/* Targets each div container inside gallery content section*/
.gallery-content .container {
    display: grid;
    justify-content: center;
    padding-bottom: 20px;
}

/* Targets each div with class image inside gallery content section ------> and inside div container */
.gallery-content .container .image {
    padding: 8px;
    background-color: rgb(236, 236, 236);
    box-shadow: 0px 12px 20px rgb(0 0 0 / 60%);
    border-radius: 5%;
    animation: change-img-fram-color 2s linear infinite;
}

/* Start Animation to change Image frame color */

@keyframes change-img-fram-color {
    50% {
        background-color: var(--main-color);
    }

    100% {
        background-color: rgb(236, 236, 236);
    }
}

/* End Animation to change Image frame color */

/* Targets all img element inside each div with image class inside gallery-content section ----> and inside div container */
.gallery-content .container .image img {
    max-width: 100%;
    border-radius: 5%;
}

/* End Gallery Content*/
/* Start Missions Content */
/* Section tag with class mission-content is a container for all elements */
.missions-content {
    position: relative;
}

/* Special Media Rule to Creat a layer above the video to cover the video for two reason: 
   make the text above it more readable and also a Decoration,,,,starts from screen 879px and more*/
@media screen and (min-width: 879px) {

    /* creat pseudo element (before) */
    .missions-content::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 40%);
    }
}

/* Targets the video inside the .mission-content section */
.missions-content video {
    width: 100%;

}

/* Targets The div with class .missions-text inside the main section missions-content */
.missions-content .missions-text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: rgb(27 145 241 / 65%);
    color: white;
    text-align: center;
}

/* Targets h2 itself inside the small div container .missions-text */
.missions-content .missions-text h2 {
    margin: 0 0 30px 0;
    text-transform: uppercase;
    font-weight: bold;
}

/* Targets p itself inside the small div container .missions-text */
.missions-content .missions-text p {
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Targets button itself inside the small div container .missions-text */
.missions-content .missions-text button {
    background-color: rgb(236, 236, 236);
    color: black;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

/* Start Media Rules for Missions Section */
@media screen and (max-width: 879px) {
    .missions-content {
        margin-top: 15px;
        height: 100vh;
    }

    .missions-content video {
        margin-top: 5px;
    }

    .missions-content .missions-text {
        top: 70%;
        padding: 70px;
    }

    .missions-content {
        background-color: rgb(236, 236, 236);
    }
}

/* End Media Rules for Missions Section */

/* End Missions Content */

/* Start Thank You Page Styling */
/*All Elements targeted by ID and fast styling for the page*/

#thank-you-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#thankyou-logo {
    color: var(--main-color);
    font-size: 28px;
    height: 71px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 25px black;
}

#thank-you-content {
    height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
}

#thanks {
    color: var(--main-color);
}

/* End Thank You Page Styling */