/* Call Fonts From Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Start Variables */
/*Add some Variables in global scope*/
:root {
    --main-color-font: #03045E;
}

/* End Variables */
/* Reset Some properties and Set Global Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

html {
    /* This property if we press a link to go somewhere inside page will go Smoothly to that place inside page */
    scroll-behavior: smooth;
}

body {
    /*Set the main font for my website*/
    font-family: "Open Sans", sans-serif;
    
}

ul {
    /* Reset ul inside our pages and remove style from it*/
    list-style: none;
}

/* Main Container that include all page content inside the page */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-lefT: auto;
    margin-right: auto;
}


/* Small Screens */
@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }

}
/* Medium Screens */
@media screen and (min-width: 992px) {
    .container {
        width: 980px; 
    }    
}
/* Large Screens */
@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Header */
header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}
/* change position for the elements inside the header div container*/
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

/* use pesudo element to make line decoration below the navigation bar and company logo */
header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #fafafa;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
   /* bottom: -1px; (i don't need it because it make the line more thick and not showed good)*/
}

/* styles for company logo */
.container img {
    height: 80px;
    padding: 0;
    margin: 10px 0 0 0;
    display: inline-block;
}
/* styles to navigation bar to fit exactly in page */
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
}

@media screen and (min-width: 768px) {
    /* hide burger icon in larg screens */
    header nav .burger-icon {
        display: none;
    }
}
header nav .burger-icon {
    color: var(--main-color-font);
    font-size: 22px;
}
nav ul {
    display: flex;
}

@media screen and (max-width: 767px) {
    /* Navigation bar disapear in small/mobile screens */
    header nav ul {
        display: none;
    }
    /* Reshow the navigation bar in columns to fit in mobile screens */
    header nav .burger-icon:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(136, 158, 185, 0.59);
    }
    header nav .burger-icon:hover + ul li a {
        /* change the padding to smaller in a elements/nav bar and make it Important */
        padding: 15px !important;
    }
    header .container::after {
        display: none;
    }


}

/* add style for the nav bar elements */
header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: var(--main-color-font);
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 200;
    text-transform: uppercase;
}

/* styles for nav bar items when it's active and mouse hover */
header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color-font);
}
/* the father of search icon we give these styles and add border left for decoration */
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid var(--main-color-font);
}

/* change the position and style such color and size for the search icon that we call it from fontawesome */
header nav .form i {
    color: var(--main-color-font);
    position: absolute;
    top: 50%;
    font-size: 15px;
    transform: translateY(-50%);
    right: 0;
}
/* End Header */

/*Start Section Landing*/

/* add my landing image and make it cover */
#landing-home {
    min-height: 100vh;
    background-image: url(../images/home-landing-img1.jpg);
    background-size: cover;
    position: relative;
    display: flex;
}
/* Add media quiery for landing image background to make it fit on mobile screens */
@media screen and (max-width: 1150px) {
    #landing-home {
        min-height: 100vh;
        background-image: url(../images/home-landing-img1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        background-color: #9ac2f2;
    }
}

/* add an over layer decoration on image */
#landing-home #overlay-home {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(161, 196, 240, 40%);
}
#text1, #text2, #text3, #text4 {
    position: absolute;
    width: 5%;
    height: 5%;
    padding: 50px;
    background-color: rgb(255, 255, 255, 20%);
    color: var(--main-color-font);
    border-radius: 50%;
  
}

#text1 {
    top: 25%;
    left: 10%;
}
#text2 {
    top: 25%;
    left: 30%;
}
#text3 {
    top: 25%;
    left: 50%;

}
#text4 {
   top: 25%;
   left: 70%;
}

@media screen and (min-width: 1285px) {
    #text1 {
        top: 25%;
        left: 15%;
    }
    #text2 {
        top: 25%;
        left: 35%;
    }
    #text3 {
        top: 25%;
        left: 55%;
    
    }
    #text4 {
       top: 25%;
       left: 75%;
    }
}    

.content {
    max-width: 20px;
    max-height: 20px;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    position: absolute;
}


/*End Section Landing*/

